<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	{% extends 'silmarinfo.html' %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

</head>
<body>

<div class="content">
	{% block content %}
	{% for quest in quests %}
	<ul class="team">
		<li class="member co-funder">
			<div class="thumb"><img src="https://assets.codepen.io/3/internal/avatars/users/default.png?fit=crop&format=auto&height=120&width=120"></div>
			<div class="description" style = "color:black; font-size: 20px">
				<h3>{{ quest.name }}</h3>
				<p>{{ quest.description }}<br></p>
				<p>Классы: {% for s in quest.statuses.all %} {{ s.status }} , {% endfor %} <br></p>
				<button type="submit" class="btn" >
					Участвовать
                </button>
			</div>
		</li>
	</ul>
	{% endfor %}
{% endblock %}
</div>
</body>
</html>